.pege-wrapper {
  background: @color-white;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Lato', 'Roboto', sans-serif;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 44px;
  line-height: 52px;
  font-weight: 700;
  font-family: 'Rubik', 'Roboto', sans-serif;
}

h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Rubik', 'Roboto', sans-serif;
}

h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Rubik', 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.pagination {
  width: 60px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;

  li {
    width: 11px;
    height: 11px;
    left: 0;
    top: 2px;
    border-radius: 50%;
    background: @color-gray;
  }

  .action {
    background: @color-yellow;
  }
}

@media @tablet-widths {
  h1 {
    font-size: 62px;
    line-height: 73px;
  }

  h2 {
    font-size: 36px;
    line-height: 43px;
  }

  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }

  p {
    font-size: 15px;
    line-height: 140%;
  }
}

@media @desktop-widths {
    h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
  }

  p {
    font-size: 16px;
    line-height: 140%;
  }
}