.address {
  margin-top: 70px;
}

.address-wrapper {
  padding-top: 40px;
  background: @color-yellow;

  h2 {
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .block {
    width: 220px;
    margin-left: 15px;
    margin-top: 30px;

    b {
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
    }
  }

  .social-network {
    ul {
      width: 108px;
      padding: 0;
      display: flex;
      justify-content: space-between;

      li {
        cursor: pointer;
      }
    }
  }

  .map {
    position: relative;
    .map-cat {
      position: absolute;
      top: 109px;
      left: 139px;
    }
  }
}