.block-three {
  padding-top: 70px;
  text-align: center;
  background: url('../img/fish.png') 33% 28% no-repeat;
}

.cart-room {
  img {
    margin: 0 auto;
    margin-top: 40px;
  }

  h3 {
    margin-top: 25px;
  }

  ul {
    margin-top: 25px;
    text-align: left;

    li {
      position: relative;
      padding-left: 19px;
      width: 140px;
      margin-bottom: 17px;

      &::before {
        position: absolute;
        content: "";
        width: 11px;
        height: 11px;
        left: 0;
        top: 2px;
        border-radius: 50%;
        background: @color-yellow;
      }
    }
  }

  .button {
    margin: 0 auto;
    margin-top: 25px;
  }
}

.pagination-three {
  width: 60px;
  margin: 0 auto;
  margin-top: 55px;
  padding: 0;
  display: flex;
  justify-content: space-between;

  li {
    width: 11px;
    height: 11px;
    left: 0;
    top: 2px;
    border-radius: 50%;
    background: @color-gray;
  }

  .ation {
    background: @color-yellow;
  }
}