.block-one {
  .content {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 231px;
    text-align: center;
    background: url("../img/Bg-1.jpg") 50% 0 no-repeat;

    p {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 500;
    }

    .style {
      font-size: 16px;
      line-height: 19px;
    }

    .button {
      margin: 0 auto;
      margin-top: 40px;
      padding-top: 15px;
      padding-left: 30px;
      line-height: 19px;
      font-size: 16px;

      span {
        margin-left: 30px;
        margin-top: -8px;
      }
    }
  }
}

@media @tablet-widths {
  .block-one {
    .content {
      padding-top: 140px;
      padding-bottom: 490px;
      background: none;
      background: url("../img/Bg-1-768.jpg") 50% 0 no-repeat;
      box-sizing: border-box;

      p {
        font-size: 14px;
        line-height: 17px;
      }

      .style {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}

@media @desktop-widths {
  .block-one {
    .content {
      padding-top: 143px;
      padding-left: 196px;
      padding-bottom: 153px;
      background: none;
      background: url("../img/Bg-1-1366.jpg") 50% 0 no-repeat;
      text-align: left;

      p {
        font-size: 14px;
        line-height: 17px;
      }

      .style {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }

      .button {
        margin: 0;
        margin-top: 40px;
      }
    }
  }
}