.block-three {
  padding-top: 70px;

  .rooms-wrapper {
    text-align: center;
    background: url('../img/fish.png') 10% 10% no-repeat;
    .pagination {
      margin-top: 55px;
    }
  }
}

.cart-room {
  img {
    margin: 0 auto;
    margin-top: 40px;
  }

  h3 {
    margin-top: 25px;
  }

  ul {
    margin-top: 25px;
    text-align: left;

    li {
      position: relative;
      padding-left: 19px;
      width: 140px;
      margin-bottom: 17px;

      &::before {
        position: absolute;
        content: "";
        width: 11px;
        height: 11px;
        left: 0;
        top: 2px;
        border-radius: 50%;
        background: @color-yellow;
      }
    }
  }

  .button {
    margin: 0 auto;
    margin-top: 25px;
  }
}