.button {
  height: 50px;
  display: flex;
  border: 0;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 49px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Lato', 'Roboto', serif;
  cursor: pointer;
  box-sizing: border-box;

  span {
    margin-top: -8px;
    margin-right: 2px;
    margin-left: 45px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.4);
  }

  &:active {
    box-shadow: 5px 5px 6px 0px rgba(100, 100, 100, 0.4);
  }
}

button {
  &:focus {
    outline: none;
  }
}

.pink {
  color: @color-white;
  background: @color-pink;
}

.white {
  color: @color-pink;
  background: @color-white;
}