button {
  font-family: inherit;
}

input {
  outline: none;
}

.button {
  position: relative;
  height: 50px;
  display: flex;
  border: 0;
  border-radius: 25px;
  padding-top: 14px;
  padding-bottom: 20px;
  padding-left: 49px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Lato', 'Roboto', sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  

  span {
    position: absolute;
    top: 7px;
    right: 7px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.4);
  }

  &:active {
    box-shadow: 5px 5px 6px 0px rgba(100, 100, 100, 0.4);
  }
}

button {
  &:focus {
    outline: none;
  }
}

.pink {
  color: @color-white;
  background: @color-pink;
}

.white {
  color: @color-pink;
  background: @color-white;
}